/* Шапка сайта */
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 10;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
}

.header__subtitle {
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  z-index: 10;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  background-color: #2F80ED;
  z-index: 0;
}

/* Основное содержимое страницы */
.content {
  display: flex;
  flex-direction: column;
}

/* Секция description */
.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2F80ED;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px
}

.two-columns__paragraf {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.two-columns__paragraf:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* блок techniques */
.techniques {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin-top: 100px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cards__item {
  margin-right: 100px;
  padding-top: 60px;
  width: 240px;
  text-align: center;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.cards__title {
  padding-top: 43px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.cards__subtitle {
  padding-top: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* блок digits */
.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 1100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
}

.section-title__theme-dark {
  margin-top: 90px;
}

.table__theme-dark {
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  align-items: center;
}

.footer {
  min-height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  padding: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.footer__column_content_info .footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading{
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__social-icon {
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
